body{
    font-size: 16px;
    background-color: rgb(133, 49, 49);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* HEADER */
#header-nav {
    background-color: rgb(200, 211, 42);
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url("../images/logo-restaurante.png") no-repeat;
    width: 177px;
    height: 178px;
    border-radius: 65px 65px 0 0;
    margin: 1px 10px 1px 0; /*largura da navbar para a imagem*/
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 { /*restaurante nome*/
    font-family: "fira", serif;
    color: black;
    font-size: 3em; /*tamanho da fonte */
    text-transform: uppercase; /* fonte maiuscula*/
    font-weight: bold; /* largura da fonte */
    text-shadow: 3px 3px 3px rgb(210, 208, 219); /*sombra na fonte*/
    margin-top: 0;
    margin-bottom: 0;
    line-height: center; /* centralizar o texto na navbar*/
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p { /*kosher cert*/
    color: 000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

.navbar-brand p span { /* Star-k */
    vertical-align: middle;
}
